<section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <form >
    <mat-form-field>
      <input
        type="Name"
        matInput
        placeholder="name"
        #nameInput
        >
      <mat-hint>Please enter a valid name.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="amount"
        #amountInput
       >
      <mat-hint>Please enter your amount.</mat-hint>
      <mat-error>Missing password.</mat-error>
    </mat-form-field>
    <div fxLayoutGap="10px">
      <button type="submit" mat-raised-button color="primary" (click)="onAddItem()" >Add</button>
      <button type="submit" mat-raised-button color="warn" >Delete</button>
      <button type="submit" mat-raised-button color="accent" >Clear</button>
  </div>
  </form>

</section>
